node_modules/
dist/
.astro/
.wrangler/
.nimbus
.atl
temp/
src/data/sponsors.json
src/data/sponsors-circles.json
src/assets/sponsors/

.env
.env.local
.env.*.local
.env.production
.dev.vars
.dev.vars.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
