---
import type { HTMLAttributes } from "astro/types";

import { ub } from "@/utils/ub";

export type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class={ub(":uno: text-sm [&_p]:leading-relaxed", className)} {...props}>
  <slot />
</div>
