---
import ListPosts from '@/components/ListPosts.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

import SubNav from '@/components/SubNav.astro'
import { getPosts } from '@/utils/posts'
import siteConfig from '@/site-config'

const posts = await getPosts();
---

<BaseLayout
  title={`Blog - ${siteConfig.author}`}
  description="List of all the blog posts."
>
  <article>
    <div class="prose slide-enter-content m-auto">
      <SubNav />
      <ListPosts posts={posts} />
    </div>
  </article>
</BaseLayout>
