@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  color-scheme: dark;

  --font-heading: "Cal Sans";
  --font-sans: "Inter Variable";
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;

  --ub-color-white: hsl(0, 0%, 100%); /* “white” */
  --ub-color-gray-1: hsl(224, 20%, 94%);
  --ub-color-gray-2: hsl(224, 6%, 77%);
  --ub-color-gray-3: hsl(224, 6%, 56%);
  --ub-color-gray-4: hsl(224, 7%, 36%);
  --ub-color-gray-5: hsl(224, 10%, 23%);
  --ub-color-gray-6: hsl(224, 14%, 16%);
  --ub-color-black: hsl(224, 10%, 10%);

  --ub-color-accent-high: hsl(224, 100%, 85%);
  --ub-color-accent: hsl(224, 100%, 60%);

  --ub-color-text: var(--ub-color-gray-2);
}

:root[data-theme="light"] {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;

  --ub-color-white: hsl(224, 10%, 10%);
  --ub-color-gray-1: hsl(224, 14%, 16%);
  --ub-color-gray-2: hsl(224, 10%, 23%);
  --ub-color-gray-3: hsl(224, 7%, 36%);
  --ub-color-gray-4: hsl(224, 6%, 56%);
  --ub-color-gray-5: hsl(224, 6%, 77%);
  --ub-color-gray-6: hsl(224, 20%, 94%);
  --ub-color-gray-7: hsl(224, 19%, 97%);
  --ub-color-black: hsl(0, 0%, 100%);

  --ub-color-accent-high: hsl(234, 80%, 30%);
  --ub-color-accent: hsl(234, 90%, 60%);
}

* {
  @apply border-border;
}

body {
  @apply bg-primary-foreground text-secondary-foreground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
