@layer base {
  .blog-post-area div[data-rehype-pretty-code-fragment] {
    @apply xl:-mx-10 relative mb-6;
  }

  div[data-rehype-pretty-code-fragment] div + pre {
    @apply !mt-16;
  }

  div[data-rehype-pretty-code-title] {
    @apply absolute -top-12 left-0 border-t-2 px-8 py-1.5 border-cyan-300 rounded-t-lg;
    background-color: #1f2028;
  }

  pre {
    @apply !px-0 !rounded-none;
  }

  code {
    @apply !text-sm md:!text-base !leading-loose md:!leading-loose;
  }

  pre > code {
    @apply grid py-[10px] text-sm;
  }

  .prose {
    @apply sm:text-lg md:text-xl !leading-7 sm:!leading-9;
  }

  [data-line] {
    @apply px-6 border-l-2 border-l-transparent;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }

  [data-highlighted-line] {
    background: rgba(200, 200, 255, 0.1);
    @apply border-l-blue-400;
  }

  [data-highlighted-chars] {
    @apply bg-zinc-600/50 rounded;
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
  }

  [data-chars-id] {
    @apply shadow-none p-1 border-b-2;
  }

  [data-chars-id] span {
    @apply !text-inherit;
  }

  [data-chars-id="pink"] {
    @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
  }

  [data-chars-id="yellow"] {
    @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
  }

  [data-chars-id="purple"] {
    @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
  }

  [data-chars-id="sky"] {
    @apply !text-sky-200 bg-sky-800/50 border-b-sky-600 font-bold;
  }
  [data-chars-id="red"] {
    @apply !text-red-200 bg-red-800/50 border-b-red-600 font-bold;
  }
}
