---
import { Separator } from "../ui/separator";
---

<div class="xl:-mx-12 my-20 border rounded-md">
  <div class="drop-shadow-2xl">
    <div class="bg-muted w-full rounded-t-md h-full">
      <div class="flex items-center p-4">
        <div class="h-3 w-3 rounded-full mr-2 bg-muted-foreground"></div>
        <div class="h-3 w-3 rounded-full mr-2 bg-muted-foreground"></div>
        <div class="h-3 w-3 rounded-full bg-muted-foreground"></div>
      </div>
    </div>
    <Separator />
    <div class="bg-muted/80 rounded-b-md">
      <slot />
    </div>
  </div>
</div>
