---
import { type CollectionEntry } from "astro:content";

import BaseHead from "@/components/common/BaseHead.astro";
import Footer from "@/components/footer/Footer.astro";
import Header from "@/components/header/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/lib/consts";
import { pages } from "@/lib/page";

import { components } from "@/lib/components";

export async function getStaticPaths() {
  return pages.map((page) => ({ params: { page: page.slug }, props: page }));
}

export type Props = CollectionEntry<"pages">;

const {
  data: { title = SITE_TITLE, description = SITE_DESCRIPTION, heroImage },
  render,
} = Astro.props;
const { Content } = await render();
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} image={heroImage?.src} />
  </head>
  <body>
    <Header />
    <div class="blog-page-area mx-auto min-h-screen px-4 py-8 md:w-2/3 md:p-10">
      <div class="blog-page-card pb-32">
        <div
          class="blog-page-content prose prose-lg mx-auto break-words tracking-tight dark:prose-invert xl:prose-xl"
        >
          <Content {components} />
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
