---
import { getImage } from 'astro:assets'

export type Props = {
  href: string
  iconUrl: string
}
const { href, iconUrl } = Astro.props

const icon = await getImage({
  src: iconUrl,
  inferSize: true,
});
---

<a
  href={href}
  class="markdown-magic-link markdown-magic-link-link"
  target="_blank"
  rel="noopener"
>
  <span
    class="markdown-magic-link-image"
    style={`background-image: url("${icon.src}");`}
  >
  </span>
  <slot />
</a>
