---
import { Icon } from "astro-icon/components";

import Button from "../ui/Button.astro";
---

<a href="/" aria-label="Blog home" data-title="Blog home">
  <Button variant="ghost" size="icon" class="blog-back-to-home-button">
    <Icon name="lucide:chevron-left" class="h-5 w-5" />
  </Button>
</a>
