---
import type { HTMLAttributes } from "astro/types";
import { ub } from "@/lib/utils";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class={ub(
    className,
    "transition-colors hover:text-foreground/80",
    isActive ? "text-foreground" : "text-foreground/60"
  )}
  {...props}
>
  <slot />
</a>
