---
import { Icon } from "astro-icon/components";

import Button from "../ui/Button.astro";
---

<Button variant="ghost" size="icon" name="search">
  <Icon name="lucide:search" class="h-5 w-5" />
</Button>
