---
import siteConfig from '@/site-config';
---

<div class="slide-enter prose m-auto mb-6 mt-10 flex animate-delay-1200!">
  <span class="text-sm op50"><a
    target="_blank"
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
    style="color:inherit"
                             >CC BY-NC-SA 4.0</a
    > 2021-PRESENT © {siteConfig.author}</span
  >
  <div class="flex-auto"></div>
</div>
