<p>
  Si te gusta mi trabajo y te resulta útil, considera patrocinarme para ayudar a que el código abierto sea sostenible.
  ¡Gracias!
</p>

<p class="flex flex-wrap gap-2">
  <a href="https://github.com/sponsors/adrian-ub" target="_blank" class="group inline-block btn-rose">
    <span i-ph-heart-duotone group-hover="i-ph-heart-fill text-rose" transition-all duration-200 ease-out></span>
    Patrocina para apoyar a Adrián
  </a>
</p>
