---
import { type CollectionEntry } from "astro:content";

import { staticPaths } from "@/lib/tag";
import BaseHead from "@/components/common/BaseHead.astro";
import Header from "@/components/header/Header.astro";
import Footer from "@/components/footer/Footer.astro";
import PostCard from "@/components/post/PostCard.astro";

type Props = CollectionEntry<"tags"> & {
  posts: CollectionEntry<"blog">[];
};

export const getStaticPaths = staticPaths;

const { data, slug, posts } = Astro.props;
---

<!doctype html>
<html lang="es" class=":uno: scroll-smooth">
  <head>
    <BaseHead
      title={`#${slug}`}
      description={`Publicaciones etiquetadas con #${slug}`}
    />
  </head>
  <body>
    <Header />
    <main>
      <section
        class=":uno: blog-content-area feed-width mx-auto md:w-2/3 mt-12"
      >
        <div class=":uno: blog-series-card mt-12 mb-16 px-4 lg:px-16">
          <div
            class=":uno: flex w-full min-w-0 flex-col flex-wrap items-center md:flex-row xl:flex-nowrap"
          >
            <div class=":uno: mb-5 w-full min-w-0 xl:mb-0 xl:flex-1 xl:pr-8">
              <span
                class=":uno: blog-series-label mb-2 font-semibold uppercase tracking-tight text-muted-foreground"
              >
                Etiqueta
              </span>
              <div class=":uno: truncate">
                <h1
                  class=":uno: blog-series-title mb-2 pb-px font-heading text-3xl font-bold md:text-4xl"
                >
                  {data.title}
                </h1>
                <p class=":uno: text-lg text-muted-foreground">
                  #{slug}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class=":uno: my-10 flex flex-col items-center justify-center">
          <hr class=":uno: w-full border-t" />
          <p
            class=":uno: -mt-5 p-2 font-medium text-muted-foreground bg-primary-foreground"
          >
            Artículos con esta etiqueta
          </p>
        </div>

        <div class=":uno: blog-posts-wrapper mt-10">
          {posts.map((post) => <PostCard {...post} />)}
        </div>
      </section>
      <Footer />
    </main>
  </body>
</html>
