---
import Separator from "@/components/ui/Separator.astro";
import Button from "@/components/ui/Button.astro";
import { SITE_TITLE } from "@/lib/consts";
---

<Separator />
<footer
  class="blog-footer-area -mt-px px-5 py-10 text-center bg-background md:px-10 md:py-12 lg:py-20"
>
  <div class="blog-footer-credits flex flex-col items-center justify-center">
    <div class="mb-12 flex flex-col flex-wrap items-center">
      <p class="mb-2">
        @{new Date().getFullYear()}
        {" "}
        {SITE_TITLE}
      </p>
    </div>

    <div class="flex flex-col items-center">
      <a
        role="link"
        aria-label="Creado con Astro"
        target="_blank"
        href="https://astro.build"
      >
        <img
          src="https://astro.badg.es/v2/built-with-astro/medium.svg"
          alt="Built with Astro"
          width="240"
          height="40"
        />
      </a>
    </div>
  </div>
</footer>
