---
import type { ResumeSchema } from "@/utils/resume-schema";
import Section from "../ui/Section.astro";

import { marked } from "marked";

type Props = {
  curriculum: ResumeSchema;
};

const { curriculum } = Astro.props;
---

<Section>
  <h2 class=":uno: text-xl font-bold">Sobre mí</h2>
  <div
    class=":uno: text-pretty font-mono text-sm text-muted-foreground"
    set:html={marked.parse(curriculum.basics!.summary!)}
  />
</Section>
