---
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
} from "../ui/card";
import Badge from "../ui/Badge.astro";

interface Props {
  title: string;
  description: string;
  tags: readonly string[];
  link?: string;
}

const { description, tags, title, link } = Astro.props;
---

<Card class=":uno: flex flex-col overflow-hidden border p-3">
  <CardHeader>
    <div class=":uno: space-y-1">
      <CardTitle class=":uno: text-base">
        {
          link ? (
            <a
              href={link}
              target="_blank"
              class=":uno: inline-flex items-center gap-1 hover:underline"
            >
              {title} <span class=":uno: h-1 w-1 rounded-full bg-green-500" />
            </a>
          ) : (
            title
          )
        }
      </CardTitle>
      <div class=":uno: hidden font-mono text-xs underline print:visible">
        {link?.replace("https://", "").replace("www.", "").replace("/", "")}
      </div>
      <CardDescription class=":uno: font-mono text-xs">
        {description}
      </CardDescription>
    </div>
  </CardHeader>
  <CardContent class=":uno: mt-auto flex">
    <div class=":uno: mt-2 flex flex-wrap gap-1">
      {
        tags.map((tag) => (
          <Badge
            class=":uno: px-1 py-0 text-[10px] rounded-md"
            variant="secondary"
          >
            {tag}
          </Badge>
        ))
      }
    </div>
  </CardContent>
</Card>
