---
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
} from "../ui/card";
import Badge from "../ui/Badge.astro";

interface Props {
  title: string;
  description: string;
  tags: readonly string[];
  link?: string;
}

const { description, tags, title, link } = Astro.props;
---

<Card class="flex flex-col overflow-hidden border p-3">
  <CardHeader>
    <div class="space-y-1">
      <CardTitle class="text-base">
        {
          link ? (
            <a
              href={link}
              target="_blank"
              class="inline-flex items-center gap-1 hover:underline"
            >
              {title} <span class="h-1 w-1 rounded-full bg-green-500" />
            </a>
          ) : (
            title
          )
        }
      </CardTitle>
      <div class="hidden font-mono text-xs underline print:visible">
        {link?.replace("https://", "").replace("www.", "").replace("/", "")}
      </div>
      <CardDescription class="font-mono text-xs">
        {description}
      </CardDescription>
    </div>
  </CardHeader>
  <CardContent class="mt-auto flex">
    <div class="mt-2 flex flex-wrap gap-1">
      {
        tags.map((tag) => (
          <Badge class="px-1 py-0 text-[10px] rounded-md" variant="secondary">
            {tag}
          </Badge>
        ))
      }
    </div>
  </CardContent>
</Card>
