---
import type { ResumeSchema } from "@/utils/resume-schema";
import Section from "../ui/Section.astro";
import Badge from "../ui/Badge.astro";

type Props = {
  curriculum: ResumeSchema;
};

const { curriculum } = Astro.props;
---

{
  curriculum.skills && curriculum.skills.length > 0 && (
    <Section>
      <h2 class=":uno: text-xl font-bold">Habilidades</h2>
      <div class=":uno: flex flex-wrap gap-1">
        {curriculum.skills.map((skill) => {
          return (
            <Badge class=":uno: rounded-md print:text-primary print:underline">
              {skill.name}
            </Badge>
          );
        })}
      </div>
    </Section>
  )
}
