---
import type { CollectionEntry } from "astro:content";

interface Props {
  categories: CollectionEntry<"tags">[];
}

const { categories } = Astro.props;
---

{
  !!categories.length && (
    <div class="mb-5 flex w-full flex-row flex-wrap justify-center md:mb-0">
      {categories.map((category) => (
        <a
          class="mb-2 mr-3 rounded-lg border px-2 py-1 text-base font-medium  border-slate-800 bg-slate-800 text-slate-100 hover:bg-slate-700"
          href={"/tag/" + category.slug}
        >
          <span>{category.data.title}</span>
        </a>
      ))}
    </div>
  )
}
