---
import type { CollectionEntry } from "astro:content";

import Badge from "@/components/ui/Badge.astro";

interface Props {
  categories: CollectionEntry<"tags">[];
}

const { categories } = Astro.props;
---

{
  !!categories.length && (
    <div class=":uno: mb-5 flex w-full flex-row flex-wrap justify-center md:mb-0 space-x-2">
      {categories.map((category) => (
        <a href={"/tag/" + category.slug + "/"}>
          <Badge>{category.data.title}</Badge>
        </a>
      ))}
    </div>
  )
}
