---
import { ub } from "@/utils/ub";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div">;
---

<div
  class={ub(
    ":uno: text-pretty font-mono text-sm text-muted-foreground",
    Astro.props.class,
  )}
  {...Astro.props}
>
  <slot />
</div>
