---
import { ub } from "@/utils/ub";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div">;
---

<h3
  class={ub(
    ":uno: text-2xl font-semibold leading-none tracking-tight",
    Astro.props.class,
  )}
  {...Astro.props}
>
  <slot />
</h3>
