---
import { ViewTransitions } from "astro:transitions";

import "markdown-it-github-alerts/styles/github-colors-light.css";
import "markdown-it-github-alerts/styles/github-colors-dark-class.css";
import "markdown-it-github-alerts/styles/github-base.css";

import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";

const { ...head } = Astro.props;
---

<script is:inline>
  function setDarkMode(document) {
    const prefersDark =
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches;
    const setting = localStorage.getItem("theme") || "auto";
    if (setting === "dark" || (prefersDark && setting !== "light")) {
      document.documentElement.classList.toggle("dark", true);
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.classList.toggle("dark", false);
      localStorage.setItem("theme", "light");
    }
  }

  setDarkMode(document);

  document.addEventListener("astro:before-swap", (ev) => {
    setDarkMode(ev.newDocument);
  });
</script>

<html lang="es">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="font-sans text-gray-700 dark:text-gray-200 relative">
    <NavBar />
    <main class="px-7 py-10 of-x-hidden">
      <div
        z--1
        fixed
        left-0
        right-0
        top-0
        bottom-0
        pointer-events-none
        dark:invert
      >
        <canvas
          id="defaultCanvas0"
          class="p5Canvas"
          style="width: 1162px; height: 1014px;"
          width="1162"
          height="1014"></canvas>
      </div>
      <slot />
      <Footer />
    </main>
  </body>
</html>
