---
import { ViewTransitions } from 'astro:transitions'

import 'markdown-it-github-alerts/styles/github-colors-light.css'
import 'markdown-it-github-alerts/styles/github-colors-dark-class.css'
import 'markdown-it-github-alerts/styles/github-base.css'

import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import NavBar from '@/components/NavBar.astro'

const { ...head } = Astro.props;
---

<script is:inline>
  function setDarkMode(document) {
    const prefersDark =
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches;
    const setting = localStorage.getItem("theme") || "auto";
    if (setting === "dark" || (prefersDark && setting !== "light")) {
      document.documentElement.classList.toggle("dark", true);
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.classList.toggle("dark", false);
      localStorage.setItem("theme", "light");
    }
  }

  setDarkMode(document);

  document.addEventListener("astro:before-swap", (ev) => {
    setDarkMode(ev.newDocument);
  });
</script>

<html lang="es">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="relative text-gray-700 font-sans dark:text-gray-200">
    <NavBar />
    <main class="of-x-hidden px-7 py-10">
      <slot />
      <Footer />
    </main>
  </body>
</html>
