---
import type { HTMLAttributes } from "astro/types";

import { ub } from "@/utils/ub";

export type Props = HTMLAttributes<"div"> & {
  orientation?: "horizontal" | "vertical";
};

const { orientation = "horizontal", class: className, ...props } = Astro.props;
---

<div
  class={ub(
    ":uno: shrink-0 bg-border",
    orientation === "horizontal"
      ? ":uno: h-[1px] w-full"
      : ":uno: h-full w-[1px]",
    className,
  )}
  {...props}
>
</div>
