---
import { Icon } from "astro-icon/components";

interface Props {
  type: "check" | "cross";
}

const { type } = Astro.props;

const className = {
  check: ":uno: text-green-500",
  cross: ":uno: text-red-500",
}[type];

const icon = {
  check: "lucide:check",
  cross: "lucide:x",
}[type];
---

<li class=":uno: flex max-w-2xl items-center space-x-4">
  <span class={className}>
    <Icon class=":uno: w-6 h-6" name={icon} />
  </span>
  <span class=":uno: leading-normal prose-p:my-0"><slot /></span>
</li>
